###########################
# WHAT IS ARMUT?
###########################
 
Armut is Turkey's largest online service platform that brings together service providers and those who want to receive service.
You can easily access services such as cleaning, renovation, transportation with a few touches on your computer or smartphone.

###########################
# Business Problem
###########################

By using the data set containing the service users and the services and categories these users have received,
It is desired to create a product recommendation system with Association Rule Learning.

###########################
# Dataset
###########################

The dataset consists of the services customers receive and the categories of these services.
It contains the date and time information of each service received.


UserId: Customer number

ServiceId: Anonymized services belonging to each category. (Example: Upholstery washing service under the cleaning category)

A ServiceId can be found under different categories and refers to different services under different categories.
(Example: Service with CategoryId 7 and ServiceId 4 is honeycomb cleaning, while service with CategoryId 2 and ServiceId 4 is furniture assembly)

CategoryId: Anonymized categories. (Example: Cleaning, transportation, renovation category)

CreateDate: The date the service was purchased

In [1]:
!pip install researchpy

Requirement already satisfied: researchpy in /opt/anaconda3/lib/python3.9/site-packages (0.3.2)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.9/site-packages (from researchpy) (1.7.1)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.9/site-packages (from researchpy) (0.12.2)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (from researchpy) (1.3.4)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from researchpy) (1.20.3)
Requirement already satisfied: patsy in /opt/anaconda3/lib/python3.9/site-packages (from researchpy) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas->researchpy) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.16.0)

In [6]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 227 kB/s eta 0:00:01
Collecting scikit-learn>=1.0.2
  Downloading scikit_learn-1.1.3-cp39-cp39-macosx_10_9_x86_64.whl (8.7 MB)
     |████████████████████████████████| 8.7 MB 789 kB/s eta 0:00:01     |█████████████████████████▌      | 7.0 MB 1.5 MB/s eta 0:00:02
Requirement already satisfied: numpy>=1.16.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: joblib>=0.13.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: pandas>=0.24.2 in /opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: scikit-learn, mlxtend
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.2
    Uninstalling scikit-learn-0.24.2:
      Successfully uninstalled scikit-learn-0.24.2
Successfully installed mlxtend-0.21.0 scikit-learn-1.1.3

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import missingno as msno
from datetime import date
import researchpy as rp
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
#pd.set_option('display.float_format', lambda x: '%.4f' % x)

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df=pd.read_csv('/Users/serhandulger/armut_data.csv')

In [3]:
df.head()

   UserId  ServiceId  CategoryId           CreateDate
0   25446          4           5  2017-08-06 16:11:00
1   22948         48           5  2017-08-06 16:12:00
2   10618          0           8  2017-08-06 16:13:00
3    7256          9           4  2017-08-06 16:14:00
4   25446         48           5  2017-08-06 16:16:00

In [4]:
df.shape

(162523, 4)

In [5]:
def check_df(dataframe, head=3):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(head))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### NA SUM #####################")
    print(dataframe.isnull().sum().sum())
    print("##################### Describe #####################")
    print(dataframe.describe())
    print("##################### Nunique #####################")
    print(dataframe.nunique())

In [6]:
check_df(df)

##################### Shape #####################
(162523, 4)
##################### Types #####################
UserId         int64
ServiceId      int64
CategoryId     int64
CreateDate    object
dtype: object
##################### Head #####################
   UserId  ServiceId  CategoryId           CreateDate
0   25446          4           5  2017-08-06 16:11:00
1   22948         48           5  2017-08-06 16:12:00
2   10618          0           8  2017-08-06 16:13:00
##################### Tail #####################
        UserId  ServiceId  CategoryId           CreateDate
162520   10591         31           6  2018-08-06 14:47:00
162521   12666         38           4  2018-08-06 16:01:00
162522   17497         47           7  2018-08-06 16:04:00
##################### NA #####################
UserId        0
ServiceId     0
CategoryId    0
CreateDate    0
dtype: int64
##################### NA SUM #####################
0
##################### Describe #####################
              UserId      ServiceId     CategoryId
count  162523.000000  162523.000000  162523.000000
mean    13089.803862      21.641140       4.325917
std      7325.816060      13.774405       3.129292
min         0.000000       0.000000       0.000000
25%      6953.000000      13.000000       1.000000
50%     13139.000000      18.000000       4.000000
75%     19396.000000      32.000000       6.000000
max     25744.000000      49.000000      11.000000
##################### Nunique #####################
UserId         24826
ServiceId         50
CategoryId        12
CreateDate    117510
dtype: int64

In [7]:
import datetime as dt
df["CreateDate"] = pd.to_datetime(df["CreateDate"]).dt.normalize()

In [11]:
# Creating NEW Variables

df["Service"] = [str(row[1]) + '_' + str(row[2]) for row in df.values]
df["Basket"] = df["UserId"].astype(str) + '_' + df["CreateDate"].astype(str).str[:7]

In [12]:
df.head()

   UserId  ServiceId  CategoryId CreateDate Service         Basket
0   25446          4           5 2017-08-06     4_5  25446_2017-08
1   22948         48           5 2017-08-06    48_5  22948_2017-08
2   10618          0           8 2017-08-06     0_8  10618_2017-08
3    7256          9           4 2017-08-06     9_4   7256_2017-08
4   25446         48           5 2017-08-06    48_5  25446_2017-08

In [22]:
basket = (df.groupby(["Basket", "Service"])["ServiceId"]
              .count().unstack().fillna(0)
              .applymap(lambda x: 1 if x > 0 else 0))

In [24]:
basket.head()

Service        0_8  10_9  11_11  12_7  13_11  14_7  15_1  16_8  17_5  18_4  19_6  1_4  20_5  21_5  22_0  23_10  24_10  25_0  26_7  27_7  28_4  29_0  2_0  30_2  31_6  32_4  33_4  34_6  35_11  36_1  37_0  38_4  39_10  3_5  40_8  41_3  42_1  43_2  44_0  45_6  46_4  47_7  48_5  49_1  4_5  5_11  6_7  7_3  8_5  9_4
Basket
0_2017-08        0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     0     0     0     0     0      0     0     0     0      0    0     0     0     0     0     0     0     1     0     1     0    0     0    0    0    0    0
0_2017-09        0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     0     0     0     0     0      0     0     0     0      0    0     0     0     0     0     0     0     0     0     1     0    1     0    0    0    0    0
0_2018-01        0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     1     0     0     0     0      0     0     0     0      0    0     0     0     0     1     0     0     0     0     0     0    0     0    0    1    0    0
0_2018-04        0     0      0     0      0     1     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     1     0     0     0     0      0     0     0     0      0    0     0     0     0     1     0     0     0     0     0     0    0     0    0    0    0    0
10000_2017-08    0     0      0     0      0     0     0     0     0     0     0    0     0     0     0      0      0     0     0     0     0     0    0     0     0     0     0     0      0     0     0     0      0    0     0     0     0     0     0     0     1     0     0     0    0     0    0    0    0    0

In [25]:
frequent_itemsets = apriori(basket, min_support=0.01, use_colnames=True)

/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [32]:
frequent_itemsets.sort_values(by='support',ascending=False).head(10)

     support itemsets
8   0.238121   (18_4)
19  0.130286    (2_0)
5   0.120963   (15_1)
39  0.067762   (49_1)
28  0.066568   (38_4)
3   0.056627  (13_11)
12  0.047515   (22_0)
9   0.045563   (19_6)
15  0.042895   (25_0)
7   0.041533   (17_5)

In [33]:
rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)

In [35]:
rules.head(10)

  antecedents consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction
0       (2_0)     (13_11)            0.130286            0.056627  0.012819    0.098394  1.737574  0.005442    1.046325
1     (13_11)       (2_0)            0.056627            0.130286  0.012819    0.226382  1.737574  0.005442    1.124216
2       (2_0)      (15_1)            0.130286            0.120963  0.033951    0.260588  2.154278  0.018191    1.188833
3      (15_1)       (2_0)            0.120963            0.130286  0.033951    0.280673  2.154278  0.018191    1.209066
4      (15_1)      (33_4)            0.120963            0.027310  0.011233    0.092861  3.400299  0.007929    1.072262
5      (33_4)      (15_1)            0.027310            0.120963  0.011233    0.411311  3.400299  0.007929    1.493211
6      (38_4)      (15_1)            0.066568            0.120963  0.011177    0.167897  1.388001  0.003124    1.056404
7      (15_1)      (38_4)            0.120963            0.066568  0.011177    0.092397  1.388001  0.003124    1.028458
8      (15_1)      (49_1)            0.120963            0.067762  0.010011    0.082763  1.221375  0.001815    1.016354
9      (49_1)      (15_1)            0.067762            0.120963  0.010011    0.147741  1.221375  0.001815    1.031420

In [36]:
sorted_rules = rules.sort_values("lift", ascending=False)

In [39]:
sorted_rules.head()

   antecedents consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction
10      (22_0)      (25_0)            0.047515            0.042895  0.011120    0.234043  5.456141  0.009082    1.249553
11      (25_0)      (22_0)            0.042895            0.047515  0.011120    0.259247  5.456141  0.009082    1.285834
19      (38_4)       (9_4)            0.066568            0.041393  0.010067    0.151234  3.653623  0.007312    1.129413
18       (9_4)      (38_4)            0.041393            0.066568  0.010067    0.243216  3.653623  0.007312    1.233418
4       (15_1)      (33_4)            0.120963            0.027310  0.011233    0.092861  3.400299  0.007929    1.072262

In [47]:
def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []
    
    for i, product in sorted_rules["antecedents"].items():
        for j in list(product):  #antecedent i yani urunu secti
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"]))
                
    recommendation_list = list({item for item_list in recommendation_list for item in item_list})
    
    return recommendation_list[:rec_count]

In [52]:
arl_recommender(rules, "2_0", 3)

['9_4', '38_4', '25_0']

In [53]:
arl_recommender(rules, "2_0", 4)

['9_4', '38_4', '25_0', '2_0']